.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

.navigation-icons{
  width: 50%;
  display: flex;
  justify-content: right;
}

.navigation-icons img{
  border: 1.66667px solid #98A2B3;
  padding: 10px;
  cursor: pointer;
}

.navigation-icons .share{
  border-radius: 50%;
}

.navigation-icons .menu{
  padding: 15px 10px;
  border-radius: 50%;
  display: none;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.profile-header b {
  font-family: "Inter", sans-serif;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
}

.profile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 50px auto;
  width: 80%;
}

.profile-links a {
  text-decoration: none;
  background-color: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #101828;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
}


.profile-socials{
  display: flex;
  gap: 20px;
  align-items: center;
}

/* border-bottom: 1.66667px solid #98A2B3; */